EUFY_EMAIL = 'alice@example.com'
EUFY_PASSWORD = 'pa$$w0rd'
TO_EMAILS = ['you@gmail.com']
TIMEZONE = 'America/Los_Angeles'  # Olson time zone for displaying time
SMTP_HOST = 'smtp.gmail.com'
SMTP_PORT = 587
SMTP_USERNAME = 'you@gmail.com'
SMTP_PASSWORD = 'gmail_app_password'
DELAY_MINUTES = 10  # only send email if sensor open longer than N minutes
